html,
body {
  height: 100%;
  background:#1abc9c;
  /* The html and body elements cannot have any padding or margin. */
}

.notif-unread,
.notif-new {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-color: #1abc9c;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0;
  font-weight: 700;
  height: 6px;
  line-height: 1;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 6px;
  z-index: 10;
}

.login-form{
  margin-left: 50px;
}

@media (max-width: 768px) {
  .notif-unread,
  .notif-new {
    position: static;
    float: right;
    margin: 0 0 0 10px;
  }
}
.active .notif-unread,
.active .notif-new {
  background-color: #ffffff;
  display: none;
}
.notif-new {
  background-color: #e74c3c;
  font-size: 25px;
  height: 32px;
  line-height: 31px;
  margin: -6px -10px;
  min-width: 32px;
  padding: 0 1px;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.notif-new {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(2,start);
}

@keyframes blink{  
  80%{
    visibility: hidden;
  }
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.nav-tabs a{
  color: #000;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

.credit{
  visibility: hidden;
}